# Exploring a Dataset
## Choose a dataset of your interest (e.g., from Kaggle) and explore its basic characteristics. Use Python with libraries like Pandas to load the dataset, check for missing values, and display summary statistics.

## Import pandas Libraries and Read csv File

In [1]:
import pandas as pd
df=pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# Basic Characteristics 
## Display First Five Rows

In [2]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Display Last Five Rows

In [3]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

## Obtain Information About Dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## Display Basic Statistical Details like Percentile, Mean, std, etc.

In [5]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Display a Specific Column Data

In [6]:
column_data=df['sepal_length']

In [7]:
column_data

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

## Performing Some Basic Statistical Methods

In [8]:
df['sepal_length'].min()

4.3

In [9]:
df['petal_length'].count()

150

In [10]:
df['petal_length'].max()

6.9

In [11]:
df['petal_length'].std()

1.7644204199522617

# Check Missing Values

In [12]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

## Checking for Missing Values With Exact Numbers in Each Column

In [13]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

## Display Random Rows From Dataset

In [14]:
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width          species
121           5.6          2.8           4.9          2.0   Iris-virginica
95            5.7          3.0           4.2          1.2  Iris-versicolor
97            6.2          2.9           4.3          1.3  Iris-versicolor
31            5.4          3.4           1.5          0.4      Iris-setosa
112           6.8          3.0           5.5          2.1   Iris-virginica
22            4.6          3.6           1.0          0.2      Iris-setosa
10            5.4          3.7           1.5          0.2      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
76            6.8          2.8           4.8          1.4  Iris-versicolor
91            6.1          3.0           4.6          1.4  Iris-versicolor

## Display Names of Total columns in Dataset

In [15]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

## Check Shape or Dimensionality of the DataFrame

In [16]:
df.shape

(150, 5)

## Print Rows According to Our Need

In [17]:
print(df[130:141])

     sepal_length  sepal_width  petal_length  petal_width         species
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica